[basic]
log_file=result/app.log

[subdomain]
;子域名扫描的模块，目前支持subfinder、xray
module=subfinder
; 进行监控的子域名厂商
assert_name=联想

[notifier]
switch=off
origin=dingding
dingding_token=xxx
; 钉钉通知消息关键字
keyword=xxx
; 每天定时扫描是否新增子域名 并进行通知
scan_and_notice_time=23:30

[rabbitmq]
host=xxx
port=5672
username=admin
password=xxx
queue_name=subdomain

[mongodb]
host=xxx
port=27017
username=admin
password=xxx
db=src